[
    {
        "bin": "970436",
        "acc": "1234567890",
        "on": "NGUYEN VAN A"
    },
    {
        "bin": "970415",
        "acc": "0987654321",
        "on": "TRAN THI B"
    },
    {
        "bin": "970416",
        "acc": "1122334455",
        "on": "LE VAN C"
    }
]